
@import "nullStyle";

.block { 
	height: 1817px;
	width: 1286px;
	background-color: #445162;
	margin: 0px auto;
	&__header {
		color: white;
		text-align: left;
		display: flex;
		align-items: center;
		width: auto;
		height: 323px;
		background-color: beige;
	}

	&__main {
	}

	&__postcontainer {
	}

	&__subscribe {
	}
}
.block-header {

	&__container {
		display: flex;
		width: 1180px;
		height: 222px;
		background-color: #445162;
		margin: 0px auto;
		justify-content: space-between;
		
	}

	&__image {
		align-self: center;
	}

	&__title-text {
		
		& h1{			
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			color: #ffffff;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 60px;
			
		}
		& .list{
			margin: 5% 0px 0px 0px;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			color: #ffffff;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 20px;
			line-height: 36px;
		}
		& .list li::before{
			content: "";
			display: inline-block;
			width: 25px;
			height: 19px;
			position: relative;
			top: 2px;
			margin: 0px 10px 0px 0px;
			background-color: #ffffff;
			background: url("/img/check_icon.png")  no-repeat;
		}
	}
}
.block-main {

	&__container {
	}

	&__image {
	}

	&__title-text {
	}
}
.block-postcontainer {

	&__container {
	}

	&__post {
	}

	&__title-text {
	}
}
.block-postconrainer {

	&__image {
	}
}
.block-subscribe {

	&__container {
	}

	&__post {
	}
}
